.about-us__wrapper {
  width: 260px;
  margin: 0 auto;
}

.about-us__title {
  @include block-title;
}

.about-us__list {
  margin: 0;
  padding: 0;

  list-style: none;
  display: flex;
  flex-direction: column;
}

.about-us__item {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  padding-top: 65px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .about-us__wrapper {
    width: 670px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about-us__item {
    width: 300px;
    font-size: 20px;
    line-height: 22px;

    &--flower {
      order: 1;
    }

    &--money {
      order: 3;
    }

    &--heart {
      order: 5;
    }

    &--clew {
      order: 2;
    }

    &--rocket {
      order: 4;
    }

    &--gift {
      order: 6;
    }
  }
}

@media (min-width: $desktop-width) {
  .about-us__wrapper {
    width: 700px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }
}
