.best-product {
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.best-product__item {
  width: 260px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.best-product__title-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
}

.best-product__title {
  font-weight: bold;
  font-size: 25px;
  margin: 0;
}

.best-product__subtitle {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $primary-color;
}

.best-product__description {
  line-height: 24px;
  color: $text-color;
  margin: 0;
  margin-bottom: 32px;
}

.best-product__table {
  font-size: 15px;
  line-height: 20px;
  color: $text-color;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.best-product__table-row {
  display: flex;
  justify-content: space-between;
}

.best-product__table td {
  padding-bottom: 12px;
  border-bottom: 1px solid #ececec;
}

.best-product__field {
  width: 90px;
}

.best-product__value {
  width: 160px;
}

.best-product__image {
  margin-bottom: 30px;
}

.best-product__price-wrapper {
  width: 260px;
  display: flex;
  flex-direction: column;
}

.best-product__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: $text-color;
  text-align: center;
  margin-bottom: 30px;
}

.best-product__button {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .best-product__item {
    width: 670px;
  }

  .best-product__title-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .best-product__title {
    font-size: 43px;
    line-height: 50px;
  }

  .best-product__subtitle {
    width: 120px;
    line-height: 17px;
    padding-top: 10px;
    text-align: center;
  }

  .best-product__description-wrapper {
    width: 290px;
  }

  .best-product__description {
    font-size: 17px;
    line-height: 30px;
  }

  .best-product__price-wrapper {
    width: 290px;
  }

  .best-product__price {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .best-product__item {
    width: 1050px;
  }

  .best-product__title-wrapper {
    width: 700px;
  }

  .best-product__title {
    order: 2;
    font-size: 53px;
    line-height: 57px;
  }

  .best-product__subtitle {
    order: 1;
  }
}
