.button {
  padding-top: 15px;
  padding-bottom: 15px;

  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: $text-color;
  text-align: center;
  text-transform: uppercase;

  border: 2px solid $text-color;

  &:hover,
  &:focus {
    color: #ffffff;

    background-color: $text-color;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}
