.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;

  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: $text-color;
  text-transform: uppercase;
  background-color: #ffffff;
  cursor: pointer;

  border: 2px solid $text-color;

  &:hover,
  &:focus {
    color: #ffffff;
    border: 2px solid $text-color;
    background-color: $text-color;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }
}
