.catalog {
  padding-top: 10px;
}

.catalog__wrapper {
  width: 260px;
  margin: 0 auto;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 50px;
  }

  .catalog__wrapper {
    width: 668px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 95px;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__wrapper {
    width: 1050px;
  }
}
