.contacts__wrapper {
  width: 260px;
  margin: 0 auto;
}

.contacts__title {
  margin: 0;
  margin-bottom: 26px;

  font-weight: bold;
  font-size: 18px;
}

.contacts__items {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.contacts__item {
  display: flex;
  margin-bottom: 28px;
}

.contacts__item-title {
  margin: 0;
  margin-right: 31px;

  color: $text-color;
}

.contacts__item-value {
  width: 177px;
  margin: 0;

  color: $text-color;
}

.contacts__email-link {
  position: relative;

  color: $text-color;

  &::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: #46c1ae;
  }

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  position: relative;

  height: 457px;
  margin-bottom: 39px;
}

.contacts__map iframe {
  width: 100%;
  height: 100%;

  border: 0;
}

.contacts__image-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;

  width: 320px;
  height: 457px;
  margin-left: -160px;
}

.contacts__map-image {
  width: 100%;
  height: auto;
}

.contacts__button {
  width: 260px;
  margin: 0 auto;
  padding-right: 52px;
  padding-left: 52px;
}

@media (min-width: $tablet-width) {
  .contacts__wrapper {
    width: 668px;
  }

  .contacts__items {
    flex-direction: row;
    margin-bottom: 30px;
  }

  .contacts__title {
    position: relative;

    margin-bottom: 49px;

    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      position: absolute;
      top: -14px;
      right: 0;

      width: 47px;
      height: 81px;

      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-size: 47px 81px;
    }
  }

  .contacts__item {
    margin-right: 36px;
  }

  .contacts__item-title {
    margin-right: 23px;

    font-size: 17px;
  }

  .contacts__item-value {
    width: 222px;

    font-size: 17px;
  }

  .contacts__map {
    margin-bottom: 54px;
  }

  .contacts__image-wrapper {
    width: 768px;
    margin-left: -384px;
  }

  .contacts__button {
    width: 231px;
    padding-right: 39px;
    padding-left: 38px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__container {
    position: relative;

    width: 1050px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 90px;
  }

  .contacts__wrapper {
    width: 472px;
    margin-left: 175px;
  }

  .contacts__title {
    margin-bottom: 49px;

    font-size: 53px;
    line-height: 57px;

    &::after {
      top: -8px;
      left: -112px;
    }
  }

  .contacts__items {
    flex-direction: column;
    margin-bottom: 38px;
  }

  .contacts__item {
    margin-bottom: 30px;
  }

  .contacts__item-title {
    margin-right: 25px;
  }

  .contacts__map {
    position: absolute;
    top: 10px;
    right: 0;

    width: 525px;
  }

  .contacts__image-wrapper {
    left: 0;

    width: 525px;
    margin-left: 0;
  }

  .contacts__button {
    position: absolute;
    bottom: 27px;
    left: 175px;
  }
}
