.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover .copyright__logo,
  &:focus .copyright__logo {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
  margin-right: 30px;
}
