.order__wrapper {
  width: 260px;
  margin: 0 auto;
}

.order__description {
  width: 242px;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 24px;
  color: $text-color;
}

@media (min-width: $tablet-width) {
  .order__wrapper {
    width: 668px;
    margin-bottom: 75px;
  }

  .order__description {
    width: 612px;
    font-size: 17px;
    line-height: 30px;
    padding-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .order__wrapper {
    width: 1050px;
  }

  .order__description {
    width: 672px;
    margin: 0 auto;
  }
}
